<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                저는 컴퓨터를 다루는 것을 좋아합니다. 일생생활 중 이 프로그램이 있었으면 좀 더 편하겠는데 라며 코드 구상을 종종 하곤 합니다. 이걸 천성이라 여겨 직업을 개발자로 결정하게 되었습니다. 저는 파이썬 백엔드 개발 환경에 익숙합니다. 개발에 필요한 프레임워크, 환경 구축, 개발 목표 구성도 곧 잘 합니다. 파이썬보다는 뛰어나진 않지만, Android 앱 개발과 JAVA, C++도 무리없이 운용할 수 있습니다. 인터넷에서 학습 및 검증용 데이터 수집을 위해 간단한 웹 크롤링 프로그램을 만들어 <a href="https://github.com/SongChaeYoung98/prediction-of-wheat-cultivating-areas">머신러닝</a> 프로젝트에 사용했습니다.
            </p>
            <p class="paragraph-text justify-text">
                저의 롤 모델은 오픈 소스 커뮤니티에 업로드 된 사연이 담긴 코드들에 대해 막힘없이 해결책을 제시해주는 훌륭한 프로그래머들 입니다. 유명한 개발자 또는 사업가가 아닐 지라도, 제 눈에는 이들이 제일 멋있고, 본받고 싶은 인물 입니다. 
            </p>
            <p class="paragraph-text justify-text">
                이 웹 페이지에는 진행했던 프로젝트들과 다룰 수 있는 언어 능력 및 연락처가 포함되어 있습니다. CSS를 사용한 웹 개발은 포트폴리오 작성하면서 처음 해봤지만 최선을 다해 만들었습니다. 천천히 둘러봐주세요😀
            </p>
        </div>
    </section>
</div>
