<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                저는 컴퓨터를 다루는 것을 좋아합니다. 일생생활 중 이 프로그램이 있었으면 좀 더 편하겠는데 라며 코드 구상을 종종 하곤 합니다. 이걸 천성이라 여겨 직업을 개발자로 결정하게 되었습니다. 저는 파이썬 백엔드 개발 환경에 익숙합니다. 개발에 필요한 프레임워크, 환경 구축, 개발 목표 구성도 곧 잘 합니다. 파이썬보다는 뛰어나진 않지만, Android 앱 개발과 JAVA, C++도 무리없이 운용할 수 있습니다. 인터넷에서 학습 및 검증용 데이터 수집을 위해 간단한 웹 크롤링 프로그램을 만들어 <a href="https://github.com/SongChaeYoung98/prediction-of-wheat-cultivating-areas">머신러닝</a> 프로젝트에 사용했습니다.
            </p>
            <p class="paragraph-text justify-text">
                저의 롤 모델은 Stack Overflow와 같은 오픈 소스 커뮤니티에서 사용자들마다 사연이 담긴 코드들에 대해 막힘없이 해결책을 제시해주는 훌륭한 프로그래머들 입니다. 유명한 개발자 또는 사업가가 아닐 지라도, 제 눈에는 이들이 제일 멋있고, 본받고 싶은 인물 입니다. 
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
