<div class="section-wrapper">
    <section class="section extra" id="extra">
        <div>
            <div class="section-heading" id="chat-text">Contact</div>
            <p class="paragraph-text justify-text">
                저의 웹페이지에 시간 내어 방문 해주셔서 감사합니다😃 만들고자 하는 프로그램이 있으면, 오픈소스 유무 상관없이 열과 성을 다해 결실을 맺는 것에 보람을 느끼고 있습니다. 저는 이 과정을 여러분들과 함께하고 싶습니다.
            </p>
            <p class="paragraph-text justify-text">
                언제든지 자유롭게 연락 주세요(<a href="mailto:{{ site.email }}">{{ site.email }}</a>). 하루 이내에 회신 할 수 있도록 노력하겠습니다.
            </p>

            <div class="extra-links">
                <span class="hint--bottom bottom-link" aria-label="Email">
                    <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
                </span>
                <!-- <span class="hint--bottom bottom-link" aria-label="PGP Key">
                    <a href=><i class="head-icon fas fa-key"></i></a>
                </span> -->
                <span class="hint--bottom bottom-link" aria-label="GitHub">
                    <a href="https://github.com/{{ site.github_username }}"><i class="head-icon fab fa-github"></i></a>
                </span>
                <span class="hint--bottom bottom-link" aria-label="Web Blog">
                    <a href="https://songchaeyoung98.github.io/"><i class="head-icon fas fa-rss"></i></a>
                </span>

            </div>
        </div>
    </section>
</div>