
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text left-align">
                        본인은 Python을 주로 사용하는 인공지능, 딥러닝 개발자 입니다.
                    </p>
                    <p class="paragraph-text left-align">
                        개발에 많은 열정과 해결될 때까지 프로그래밍을 멈추지 않는 집념을 지니고 있습니다.
                    </p>
                    <p class="paragraph-text left-align">
                        프로그래밍 하는 동안 주로 Stack Overflow나 Git hub를 참고합니다.
                    </p>
                    <p class="paragraph-text left-align">
                        마땅한 솔루션을 찾지 못한 경우 직접 구상하여 결과를 도출해냅니다.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Java</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Android</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>C++</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="55%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>CSS, Html</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>