
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text left-align">
                        Python을 주로 사용하는<br>인공지능, 딥러닝 개발자 입니다.
                    </p>
                    <p class="paragraph-text left-align">
                        이전에 한 여러 프로젝트를 통해 Android Studio, C++, Java도 무리없이 운용할 수 있습니다.
                    </p>
                    <p class="paragraph-text left-align">
                        개발은 주로 오픈 소스를 참고하나, 마땅한 선례가 없을 시<br>처음부터 직접 코딩합니다.
                    </p>
                </div>

                
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Java</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Android</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="60%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>C++</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="55%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>CSS, Html</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>