{{- define "main" -}}
<header class="page-header">
  <h1>Tags</h1>
  <div class="post-description">{{ len .Site.Taxonomies.tags }} tags across the blog archive.</div>
</header>

{{- if .Site.Taxonomies.tags -}}
<ul class="terms-tags">
  {{- range $name, $pages := .Site.Taxonomies.tags -}}
  <li>
    <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}/">
      {{ $name }} <sup><strong><sup>{{ len $pages }}</sup></strong></sup>
    </a>
  </li>
  {{- end -}}
</ul>
{{- else -}}
<p>No tags yet. Add <code>tags</code> to Markdown front matter.</p>
{{- end -}}
{{- end -}}
